body{
    margin: 0;
}

div {
    display: flex;
    margin: .5rem;
    padding: 3rem;
    border: 3px solid #000;
    min-height: 1rem;
    flex-grow: 1;
}

.grandparent{
    background-color: hsl(0, 50%, 50%);
    flex-direction: column;
}

.parent{
    background-color: hsl(100, 50%, 50%);
}

.child{
    background-color: hsl(200, 50%, 50%);
}